.menu {
  display: flex;
  flex-direction: column;
}

.menu a {
  padding: 15px;
  margin: 5px 0;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .menu {
    width: 100%; /* Ancho completo en pantallas pequeñas */
  }
}
