table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 12px;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table th {
    padding: 15px;
    text-align: left;
    background-color: rgb(6, 6, 126);
    color: white;
}

@media (max-width: 768px) {
    table, th, td {
        display: block; /* Hacer que las celdas sean bloques en pantallas pequeñas */
    }
    tr {
        margin-bottom: 15px; /* Espacio entre filas */
    }
}
